.container {
  width: 1360px;
  max-width: 95%;
  margin: 0 auto;
}

.main {
  .title {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #000000;
    margin-bottom: 17px;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
  }
  .card__menu {
    display: flex;
    column-gap: 16px;
    flex-wrap: wrap;
    row-gap: 35px;
  }
}
